@import 'mixins';
@import 'variables';

body {
	background-color: #fff;
	box-sizing: border-box;
	margin: 0;
	font-family: 'ProximaNova';
	overflow-x: hidden;
}

.container {
	width: 1300px;
	margin: 0 auto;
	position: relative;
}

.image-shadow {
	display: block;
	-webkit-box-shadow: 0px 0px 2px 10px rgba(240,240,240,0.55);
	-moz-box-shadow: 0px 0px 2px 10px rgba(240,240,240,0.55);
	box-shadow: 0px 0px 2px 10px rgba(240,240,240,0.55);
}

header {
	padding: 0 30px;
	background: url('../img/head-bg.jpg') no-repeat top center;
	background-size: cover;
	height: 1040px;
	position: relative;
}

.head-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

// menu dropdown

#nav-icon {
	display: block;
	width: 50px;
	height: 50px;
	position: relative;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;

	span {
		display: block;
		position: absolute;
		height: 2px;
		width: 100%;
		background-color: $main-color;
		left: 0;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;
	}

	span:nth-child(1) {
		top: 10px;
	}

	span:nth-child(2) {
		top: 25px;
	}

	span:nth-child(3) {
		top: 40px;
	}


	p {
		font-weight: bold;
		color: $grey;
		font-size: 1.5em;
		text-transform: uppercase;
		position: absolute;
		top: -10px;
		left: 70px;

	}
}

#nav-icon.open {

	span:nth-child(1) {
		top: 25px;
		-webkit-transform: rotate(135deg);
		-moz-transform: rotate(135deg);
		-o-transform: rotate(135deg);
		transform: rotate(135deg);
	}

	span:nth-child(2) {
		opacity: 0;
		left: -60px;
	}

	span:nth-child(3) {
		top: 25px;
		-webkit-transform: rotate(-135deg);
		-moz-transform: rotate(-135deg);
		-o-transform: rotate(-135deg);
		transform: rotate(-135deg);
	}
}

.title-top {
	color: #fff;
	font-size: 2.5em;
	text-transform: uppercase;
	margin-left: 27%;
	position: relative;
	letter-spacing: 0.25em;
}

.title-top::after {
	border-bottom: 0.125em solid $main-color;
	content: "";
	margin-top: calc(0.125em / 2 * -1);
	position: absolute;
	top: 50%;
	width: 29%;
	left: 20%;
}

.nav-top {

	li {
		list-style-type: none;
		display: inline-block;
		margin-right: 50px;	
	}

	a {
		color: $grey;
		font-size: 1em;
		font-weight: bold;
		text-decoration: none;
		text-transform: uppercase;
	}
}

.info-top {
	position: absolute;
	right: 6%;
}

.top-lang-dropdown {
	background-color: transparent;
	outline: none;
	border: none;
	color: $grey;
	font-size: 1em;
	font-weight: bold;

	option {
		font-weight: bold;
	}
}

.aside-left {
	font-size: 3.275em;
	font-weight: bold;
	color: $main-color;
	letter-spacing: 2px;
	width: 350px;
	position: absolute;
	top: 275px;
	left: -167px;
	transform: rotate(90deg);
	display: flex;
	justify-content: center;
}

.aside-nav {
	display: flex;
	align-items: center;

	li {
		list-style-type: none;
		margin-left: 35px;
		display: inline-block;
		cursor: pointer;
	}

	a {
		display: block;
		width: 8px;
		height: 8px;
		border-radius: 8px;
		background-color: $grey;
	}

	:first-child a {
		background-color: $main-color;
	}
}

.head-center-sect {
	position: absolute;
	top: 120px;
	left: calc(50% - 200px);

	h1 {
		font-size: 6em;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 20px;
		color: $main-color;
	}

	button {
		width: 300px;
		height: 50px;
		outline: 1px solid #fff;
		border: none;
		background: none;
		color: #fff;
		font-size: 0.875em;
		font-weight: bold;
		letter-spacing: 2px;
		text-transform: uppercase;
		cursor: pointer;
	}
}

.scroll {
	margin-top: 65px;

	img {
		display: block;
		margin-bottom: 20px;
	}

	:nth-child(2) {
		margin-left: 5px;
	}

	p {
		font-size: 0.875em;
		font-weight: bold;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: rgba(255, 255, 255, 0.1);
		transform: rotate(90deg);
		width: 20px;	
	}
}

.aside-right {
	font-size: 0.875em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	word-spacing: 20px;
	color: $brown;
	transform: rotate(90deg);
	position: absolute;
	width: 220px;
	top: 300px;
	right: -110px;
}

.text-decor {
	font-size: 24.5em;
	font-weight: bold;
	text-transform: uppercase;
	color: rgba(67, 56, 40, .3);
}

.w-decor {
	position: absolute;
	top: 345px;
	right: -180px;
}

.f-decor {
	position: absolute;
	bottom: -26%;
	left: 16%;
}

.decor-line {
	position: absolute;
	background-color: $main-color;
	height: 45px;
	width: 3px;
	right: 17.5%;
	bottom: -22px;
}

.share-ico {
	position: absolute;
	bottom: 15px;
	right: 15px;
}

main {
	background: none;
	padding: 90px 0 0;
}

.sect-decoration {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 10.3em;
	letter-spacing: 6.5px;
	color: $grey;
	opacity: 0.2;
	position: absolute;
}

.sect-num {
	font-size: 2.5em;
	letter-spacing: 2px;
	font-weight: bold;
	position: absolute;


	span {
		color: $main-color;
	}
}

.sect-num::after {
	content: "";
	background-color: $main-color;
	height: 45px;
	width: 3px;
	display: block;
	position: absolute;
	left: 20px;
	bottom: -100px;
}

.furniture-sect {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 285px;
	position: relative;

	.sect-num {
		bottom: 0;
		left: 0;
	}

	.sect-decoration {
		left: 75%;
	}

	.text-decor {
		position: absolute;
		right: 0;
		top: 350px;
		opacity: 0.2;
	}
}

.text-column {
	width: 350px;
	margin-right: 45px;
	margin-top: -50px;

	h3 {
		text-transform: uppercase;
		font-size: 2.5em;
		letter-spacing: 5px;
		font-weight: bold;
		margin-bottom: 30px;
		position: relative;
	}

	h3::before {
		content: "";
		background-color: #000000;
		width: 155px;
		height: 2px;
		display: block;
		position: absolute;
		top: 22px;
		left: -184px;
	}


	p {
		font-size: 1em;
		word-spacing: 2px;
		margin-bottom: 35px;
		position: relative;
	}

	p::before {
		content: "";
		background-color: $main-color;
		width: 45px;
		height: 2px;
		display: block;	
		position: absolute;
		top: 7px;
		left: -75px;
	}

	a {
		text-transform: uppercase;
		font-size: 1em;
		letter-spacing: 3px;
		font-weight: bold;
		text-decoration: none;
		color: #000000;
	}

	a::after {
		content: "";
		background-color: $main-color;
		width: 45px;
		height: 3px;
		display: table;
		margin-top: 5px;	
	}
}

.decor-sect {
	display: flex;
	align-items: center;
	margin-bottom: 220px;
	position: relative;

	.text-column {
		text-align: right;
	}

	h3::before, p::before {
		left: 384px;
	}

	a::after {
		margin-left: 50.5%;
	}

	.sect-num {
		right: 0;
		bottom: 0;	
	}

	.sect-decoration {
		right: 75%;
	}
}

.bot-sect {

	h2 {
		text-align: center;
		text-transform: uppercase;
		font-size: 3em;
		letter-spacing: 3px;
		font-weight: bold;
		position: relative;

	}

	h2::after {
		content: "";
		background-color: $main-color;
		width: 45px;
		height: 3px;
		display: table;
		position: absolute;	
		left: calc(50% - 22.5px);
		bottom: -30px;
	}
	
	p {
		width: 50%;
		text-align: center;
		margin: 0 auto;
		font-size: 1em;
		letter-spacing: 1px;
		margin-top: 60px;
	}	
}

.video-container {
	width: 75%;
	margin: 100px auto 0;
	display: flex;
	justify-content: space-around;
}

.vid {
	position: relative;

	img {
		padding: 10px;
		border: 1px solid $grey;
		border-radius: 50%;
	}

	p::before {
		content: "";
		background-color: $main-color;
		width: 45px;
		height: 3px;
		display: table;
		position: absolute;	
		left: calc(50% - 22.5px);
		bottom: 65px;
	}
}

.main-vid-sect {
	width: 100%;
	background: url('../img/vid-sect-bg.png') no-repeat top center;
	background-size: cover;
	margin-top: 150px;
	padding: 275px 0;
}

.caption-container {
	width: 550px;
	margin-left: 30%;

	h3 {
		color: $main-color;
		font-weight: bold;
		font-size: 3em;
		text-transform: uppercase;
		letter-spacing: 2px;
		position: relative;
	}

	h3::after {
		content: "";
		background-color: #fff;
		display: block;
		height: 2px;
		width: 150px;
		position: absolute;
		top: 25px;
		left: -180px;	
	}

	p {
		color: #fff;
		font-size: 0.9em;
		letter-spacing: 1px;
		line-height: 2;
		position: relative;
		width: 80%;
	}

	p::after {
		content: "";
		background-color: $main-color;
		display: block;
		height: 2px;
		width: 45px;
		position: absolute;
		top: 13px;
		left: -75px;
	}

	button {
		width: 300px;
		height: 50px;
		margin-top: 45px;
		background: transparent;
		border: 1px solid #fff;
		color: #fff;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 2px;
		cursor: pointer;
	}
	
	button:focus {
		outline: none;
	}

	img {
		vertical-align: middle;
		margin-right: 5px;
	}
}

.about {
	background-color: #fff;
	padding: 130px 0;
	position: relative;

	.text-decor {
		position: absolute;
		top: -200px;
		right: 15%;
		color: $grey;
		opacity: 0.1;
	}

	.about-decor {
		position: absolute;
		color: $grey;
		font-size: 10.5em;
		font-weight: bold;
		opacity: 0.1;
		text-transform: uppercase;
		left: -60px;
		top: 200px;
	}

	.about-container {
		width: 60%;
		margin: 0 auto;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.text-column {
		margin: -50px 0 0 45px;
	}
}

footer {
	background: url('../img/footer-bg.jpg') no-repeat top center;
	background-size: cover;

	p {
		color: #464646;
		font-weight: bold;
		display: inline-block;
		letter-spacing: 1px;
	}

}

.align-right {
	float: right;
	margin-top: 40px;
	font-weight: normal;

	span {
		color: $grey;
		font-weight: bold;
	}
}

.title-bot {
	@extend .title-top;
	display: inline-block;
	font-size: 1.75em;
}



@media only screen and (max-width: 1366px) {
	.container {
		width: 1140px;
	}

	header {
		height: 900px;
	}

	.head-top {
		height: 80px;
	}

	#nav-icon {
		width: 40px;
		height: 40px;

		p {
			font-size: 1em;
		}

		span:nth-child(1) {
			top: 0;
		}

		span:nth-child(2) {
			top: 15px;
		}

		span:nth-child(3) {
			top: 30px;
		}
	}

	.title-top {
		font-size: 2em;
	}

	.nav-top {
		li {
			margin-right: 30px;
			font-size: 0.75em;
		}
	}

	.info-top {
		right: 85px;
	}

	.aside-left {
		font-size: 2em;
	}

	.aside-nav {

		li {
			margin-left: 20px;
		}
	}

	.head-center-sect {
		h1 {
			font-size: 4em;
		}

		button {
			height: 40px;
			width: 250px;
			font-size: 0.75em;
		}
	}

	.aside-right {
		right: -60px;
	}

	.image-shadow {
		width: 450px;
	}

	.furniture-sect, .decor-sect {
		justify-content: center;

		h3::before {
			width: 100px;
		}
	}

	.furniture-sect {
		h3::before {
			left: -129px;
		}
	}

	.decor-sect {

		h3::before {
			width: 100px;
			left: 369px;
		}

		p::before {
			left: 369px;
		}
	}

	.sect-num {
		font-size: 1.5em;
	}

	.sect-num::after {
		bottom: -80px;
	}
	
	.about {
		p, h3 {
			width: 300px;
		}

		h3::before {
			width: 100px;
			left: -129px;
		}
	}

	footer {
		.container {
			width: 80%;
		}

		.align-right {
			font-size: 0.8em;
		}
	}
}